html {
    background: #ececec;
}

body {
    font-family: Meiryo, sans-serif;
    font-size: 20px;
    color: #939393;
    box-sizing: border-box;
}

header {
    padding-top: 18px;
    color: #fff;
    max-width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header_bg {
    background: url('../img/bg1.jpg') fixed no-repeat center top / cover;

    height: 100vh;
}

.collapse {
    justify-content: flex-end;
}

.navbar {
    margin-top: 40px;
    padding: 10px 50px;
}

h1 {
    font-family: "Times New Roman", sans-serif;
    font-size: 90px;
    font-weight: bold;
    color: #144e8c;
    text-align: center;
    margin-top: 166px;
    opacity: 0.8;
    display: block;
    /*margin: 7px; !* Значение отступов *!*/
    padding: 10px 250px;
    /*border: 4px solid black; !* Параметры границы *!*/
    background: #e9ebec;
    width: 100%;
}

h2, h3 {
    text-align: center;
    color: #000000;
}

.head h2 {
    font-family: Meiryo, sans-serif;
    font-weight: bold;
    font-size: 78px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
}

.head h3 {
    font-family: Meiryo, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.block1 {
    /*width: 60%;*/
    /*float: left;*/
    border: solid 2px;
    background-color: #fff;
    margin-top: -73px;
    padding: 65px 100px 40px 70px;
    /*padding: 30px;*/
    text-align: left;
}

.block1 h2 {
    font-family: Meiryo, sans-serif;
    font-weight: bold;
    font-size: 36px;
    text-align: left;

}

.block2 {
    /*width: 60%;*/
    /*float: right;*/
    margin-left: -25%;
    border: solid 2px;
    background-color: #144e8c;
    padding: 80px 60px 50px 120px;
    color: white;
}

.block2 h2 {
    color: #fff
}

.btn {
    text-align: center;
    width: 100%;
    background-color: #fcfcfc;
    color: #000305;
    cursor: pointer;
    border-radius: 0;
    margin: 40px 0;
    padding: 24px;
    z-index: 2;

}

.btn:hover {
    background-color: blue;

}

.photo {
    /*width: 350px;*/
    /*height: 350px;*/
    margin-right: 130px;

}

.photo__text {

    color: #000305;
    font-size: 24px;
    margin-top: -100px;
    margin-bottom: 100px;
    float: left;
    text-align: right;
    display: block;
    background: red;
    width: max-content;

}

.photo__block {
    margin-top: -340px;
}


.features {
    padding: 40px 0;
}


.feature__head h2 {
    color: #217FB5;
    font-size: 45px;
    font-weight: bold;
}
.feature__head h3 {
    color: #090909;
    font-size: 20px;
    font-weight: bold;
}
.feature__item  p{
    font-size: 22px;
    color: black;
    margin: 0;
    padding: 40px;
    text-align: center;
    z-index: 1;
    position: relative;
}
.feature__item  img{
    z-index: 1;
    position: relative;
}
.feature__item {
    position: relative;
    font-size: 50px;
    font-family: Arial,sans-serif;
    font-weight: bold;
    color: black;
    background-color: #ececec;
    width: 380px;
    height: 380px;
    margin: 0;
    padding: 0;
    text-align: center;

}

.feature__item:hover {
    background-color: #efb059;
    filter: invert(100%);
    cursor: pointer;
}
.feature__item:before {
    content: '01';
    position: absolute;
    top: -70px;
    right: 50%;
    color: #dfe9f1;
    font-size: 130px;
    opacity: .5;
}

.string {
    color: white;
    background-color: #07459a;
    padding: 20px 0;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    }
.training{
    border: black 1px solid;
    background-color: white;
    width: 805px;
    height: 706px;
    margin-left: 86px;
    padding-top: 155px;
    padding-left: 150px;
}

.training-bg {
    background: url('../img/bg2.jpg') no-repeat center top / cover;
    height: 100vh;
    padding-top: 18px;
    color: #fff;
}

.map iframe {
    width: 100%;
}
.contact__block{

    float: right;
    border: #222222 2px solid;
    background-color: white;
    width: 467px;
    height: 307px;
    margin: 180px 70px;


}
.contact__block h2{

}

.footer__menu{
padding: 30px;

}

.footer {
    width: 100%;
    color: white;
    background: #023f92;
}
footer {
text-align: center;
}
.footer__menu {
    display: inline-block;
}

.foot {
    display: inline-block;

}

.foot a:hover {
    text-decoration: #023f92;

}



@media (max-width: 767px) {
    header {

        padding: 0;
    }

    .photo__block {
        padding: 0;
        margin: 0;
    }

    h1, h2, h3 {
        width: 100%;
        padding: 0;
        margin: 40px;
    }

    .head h1 {

        margin-top: 90px;
        width: 90%;
    }

    .head h3 {
        font-size: 20px;
        padding: 0 15px;
    }

    .head h2 {
        font-size: 54px;
    }

    .block1, .block2 {
        padding: 0;
        margin: 0 auto;
    }

    .navbar-brand img {
        width: 50%;

        padding-left: 20px;
        margin: 0;
        /*height: 10px;*/
    }

    .navbar {
        margin: 0;
        padding: 0;
        background-color: white !important;
    }

    a.nav-link {
        text-align: center;
        border: #8f8f8f solid 1pt;
    }

    .nav-link :nth-last-child(5) {
        margin-bottom: 500px !important;
    }
}
